# Write a program that asks the user for a positive integer value. The program should calculate the sum of all the integers from 1 up to the number entered. For example, if the user enters 20, the loop will find the sum of 1, 2, 3, 4, ... 20.

In [1]:
num = int(input('Enter a positive integer value: '))
add = 0
for i in range(1,num+1):
    print(i)
    add+=i
print(add)

Enter a positive integer value: h

ValueError: invalid literal for int() with base 10: 'h'

## write a program that takes a positive integer N as input and calculates the sum of the reciprocals of all numbers from 1 up to N. The program should display the final sum. Output of the program should be like:Enter a positive integer: 5 The sum of reciprocals from 1 to 5 is: 2.28

In [ ]:
num = int(input('Enter a positive integer value: '))
add = 0
for i in range(1,num+1):
    print(i)
    add+=1/i
print(add)

input = 4
output = 1*2*3*4=24

In [ ]:
num = int(input('Enter a positive integer value: '))
add = 1
for i in range(1,num+1):
    print(i)
    add*=i
print(add)

## Write a program that input a string and ask user to delete a given word from a string.

In [ ]:
input = 'i am ali khan '
input = 'ali'

out = 'i am khan'

In [ ]:
string = input('Enter the string')
delete = input('Enter the word you want to delete')
string.replace(delete, '')

In [ ]:
string = input('Enter the string')
delete = input('Enter the word you want to delete')

In [ ]:
lst = string.split(' ')
lst.remove(delete)

In [ ]:
final_output = ' '.join(lst)

In [ ]:
final_output

In [ ]:
string = input('Enter the string')
delete = input('Enter the word you want to delete')

lst = string.split(' ')
lst.remove(delete)

final_output = ' '.join(lst)
print(final_output)

# More on functions!!!!!1

In [ ]:
def send_email(members):
    for member in members:
        print(f'''Dear Member {member}, We regret to inform you that your membership has expired.
          Please get your renewal''')

In [ ]:
members = ['Ali','Junaid', 'Fasih','Ahmed','Kashif']
send_email(members)

In [ ]:
def total(cart):
    total_amt = sum(cart.values())
    return total_amt
    # its a local variable

In [ ]:
cart ={'anday':400, 'bread':100, 'butter':200,
      'Milk':200,'Pappay':130,'Jam':300}

In [ ]:
amt = total(cart)

In [ ]:
amt

In [ ]:
def tax_calc(amt):
    tax = 0
    if amt >10000:
        tax = amt*.10
    elif amt>5000:
        tax = amt*.05
    elif amt >1000:
        tax = amt*.02
    else:
        tax = amt*0  
    return tax

In [ ]:
calculated_tax = tax_calc(amt)

In [ ]:
amt +calculated_tax

In [ ]:
count=0
print(count)
def hello():
    count=0
    count+=1
    print(count)

In [ ]:
hello()

In [62]:
shop ={'Anday':400, 'Bread':100, 'Butter':200,
      'Milk':200,'Pappay':130,'Jam':300, 'Yougurt':80,
       'cheeze':500, 'Bicuits':200, 'Water':50,'Patti':500,
       'Sugar':160}

In [69]:
def total(cart):     
    total_amt = 0
    for a in cart:        
        total_amt +=shop[a]    
    return total_amt
    # its a local variable

In [70]:
def tax_calc(amt):
    tax = 0
    if amt >10000:
        tax = amt*.10
    elif amt>5000:
        tax = amt*.05
    elif amt >1000:
        tax = amt*.02
    else:
        tax = amt*0    
    return tax

In [71]:
def discount_calc(bill):
    discount = 0 
    if bill > 10000:
        discount =bill*.10
    elif bill >5000:
        discount = bill*0.05
    else:
        discount = 0    
    return discount

In [73]:
def order():
    cart = []
    while True:
        item = input("Enter the item q for quit")
        
        if item!='q':
            if item in shop.keys():
                cart.append(item)
            else:
                print(f'Sorry we dont have {item}')
        else:
            break
    total_amt = total(cart)
            
    payment = total_amt+ tax_calc(total_amt) - discount_calc(total_amt)
    
                 #1510            30.20      - 0       
    return payment

In [74]:
print(f'Total payable: {order()}')

Enter the item q for quitWater
Enter the item q for quitMilk
Enter the item q for quitSugar
Enter the item q for quitJam
Enter the item q for quitAnday
Enter the item q for quitAnday
Enter the item q for quitq
Total payable: 1540.2

In [106]:
employees = {
            11018:{'name':'nasir','dept':'sales','salary':100000,"loan":500000, }
            ,11019:{'name':'umer','dept':'sales','salary':200000,"loan":300000,}
            ,11020:{'name':'ali','dept':'sales','salary':150000,"loan":200000 }
            }

In [107]:
employees[11018]

{'name': 'nasir', 'dept': 'sales', 'salary': 100000, 'loan': 500000}

In [108]:
employees[11019]

{'name': 'umer', 'dept': 'sales', 'salary': 200000, 'loan': 300000}

In [109]:
def deductions(key):
    deductions = employees[key]['loan']*0.02
    employees[key]['loan'] -=deductions
    return deductions

In [110]:
def commission_calc():
    amt = int(input('Please enter sale amount'))
    commission = 0
    if amt>=500000:
        commission= amt*.10
    elif amt>=250000:
        commission = amt*.05
    elif amt>=100000:
        commission = amt*.02
    else:
        commission = amt*.01
    return commission

In [111]:
def print_salary_slip():
    for key in employees:
        deduction = deductions(key)
        commission = commission_calc()
        print(f'''
                SMIT Salary Slip
                ================
        EmpID:       {key}
        Emp Name:    {employees[key]['name']}
        Basic Salary:{employees[key]['salary']}
        Deductions:  {deduction}
        Incentives:  {commission}
        Net Salary : {employees[key]['salary']-deduction+commission}
        
        Moj Karo   
        
      =================================================================
        
        
        
        ''')

In [112]:
print_salary_slip()

Please enter sale amount600000

                SMIT Salary Slip
                ================
        EmpID:       11018
        Emp Name:    nasir
        Basic Salary:100000
        Deductions:  10000.0
        Incentives:  60000.0
        Net Salary : 150000.0

        Moj Karo

      =================================================================




Please enter sale amount50000

                SMIT Salary Slip
                ================
        EmpID:       11019
        Emp Name:    umer
        Basic Salary:200000
        Deductions:  6000.0
        Incentives:  500.0
        Net Salary : 194500.0

        Moj Karo

      =================================================================




Please enter sale amount150000

                SMIT Salary Slip
                ================
        EmpID:       11020
        Emp Name:    ali
        Basic Salary:150000
        Deductions:  4000.0
        Incentives:  3000.0
        Net Salary : 149000.0

        Moj Karo

      =================================================================

In [113]:
employees

{11018: {'name': 'nasir', 'dept': 'sales', 'salary': 100000, 'loan': 490000.0},
 11019: {'name': 'umer', 'dept': 'sales', 'salary': 200000, 'loan': 294000.0},
 11020: {'name': 'ali', 'dept': 'sales', 'salary': 150000, 'loan': 196000.0}}