# Write a program that asks the user for a positive integer value. The program should calculate the sum of all the integers from 1 up to the number entered. For example, if the user enters 20, the loop will find the sum of 1, 2, 3, 4, ... 20.

In [1]:
num = int(input('Enter a positive integer value: '))
add = 0
for i in range(1,num+1):
    print(i)
    add+=i
print(add)

Enter a positive integer value: 7
1
2
3
4
5
6
7
28

## write a program that takes a positive integer N as input and calculates the sum of the reciprocals of all numbers from 1 up to N. The program should display the final sum. Output of the program should be like:Enter a positive integer: 5 The sum of reciprocals from 1 to 5 is: 2.28

In [3]:
num = int(input('Enter a positive integer value: '))
add = 0
for i in range(1,num+1):
    print(i)
    add+=1/i
print(add, end='.')

Enter a positive integer value: 8
1
2
3
4
5
6
7
8
2.7178571428571425.

input = 4
output = 1*2*3*4=24

In [7]:
num = int(input('Enter a positive integer value: '))
add = 1
for i in range(1,num+1):
    print(i)
    add*=i
print(add)

Enter a positive integer value: 4
1
2
3
4
24

## Write a program that input a string and ask user to delete a given word from a string.

In [ ]:
input = 'i am ali khan '
input = 'ali'

out = 'i am khan'

In [16]:
string = input('Enter the string')
delete = input('Enter the word you want to delete')
string.replace(delete, '')

Enter the stringi am ali khan
Enter the word you want to deletekhan

'i am ali '

In [24]:
string = input('Enter the string')
delete = input('Enter the word you want to delete')

Enter the stringi am ali khan
Enter the word you want to deletekhan

In [25]:
lst = string.split(' ')
lst.remove(delete)

In [31]:
final_output = ' '.join(lst)

In [33]:
final_output

'i am ali'

In [36]:
string = input('Enter the string')
delete = input('Enter the word you want to delete')

lst = string.split(' ')
lst.remove(delete)

final_output = ' '.join(lst)
print(final_output)

Enter the stringi am ali khan
Enter the word you want to deletekhan
i am ali

# More on functions!!!!!1

In [37]:
def send_email(members):
    for member in members:
        print(f'''Dear Member {member}, We regret to inform you that your membership has expired.
          Please get your renewal''')

In [38]:
members = ['Ali','Junaid', 'Fasih','Ahmed','Kashif']
send_email(members)

Dear Member Ali, We regret to inform you that your membership has expired.
          Please get your renewal
Dear Member Junaid, We regret to inform you that your membership has expired.
          Please get your renewal
Dear Member Fasih, We regret to inform you that your membership has expired.
          Please get your renewal
Dear Member Ahmed, We regret to inform you that your membership has expired.
          Please get your renewal
Dear Member Kashif, We regret to inform you that your membership has expired.
          Please get your renewal

In [68]:
def total(cart):
    total_amt = sum(cart.values())
    return total_amt
    # its a local variable

In [69]:
cart ={'anday':400, 'bread':100, 'butter':200,
      'Milk':200,'Pappay':130,'Jam':300}

In [72]:
amt = total(cart)

In [73]:
amt

1330

In [91]:
def tax_calc(amt):
    tax = 0
    if amt >10000:
        tax = amt*.10
    elif amt>5000:
        tax = amt*.05
    elif amt >1000:
        tax = amt*.02
    else:
        tax = amt*0  
    return tax

In [92]:
calculated_tax = tax_calc(amt)

In [95]:
amt +calculated_tax

1356.6

In [98]:
count=0
print(count)
def hello():
    count=0
    count+=1
    print(count)

0

In [99]:
hello()

1

In [107]:
shop ={'Anday':400, 'Bread':100, 'Butter':200,
      'Milk':200,'Pappay':130,'Jam':300, 'Yougurt':80,
       'cheeze':500, 'Bicuits':200, 'Water':50,'Patti':500,
       'Sugar':160}

In [116]:
def total(cart): 
    for a in cart:
        
    total_amt =+shop[a]
    return total_amt
    # its a local variable

IndentationError: expected an indented block after 'for' statement on line 2 (3046484175.py, line 4)

In [117]:
def tax_calc(amt):
    tax = 0
    if amt >10000:
        tax = amt*.10
    elif amt>5000:
        tax = amt*.05
    elif amt >1000:
        tax = amt*.02
    else:
        tax = amt*0  
    return tax

In [118]:
def discount_calc(bill):
    if bill > 10000:
        discount =bill*.10
    elif bill >5000:
        discount = bill*0.05
    else:
        discount = 0
    return discount

In [119]:
def order():
    while True:
        item = input("Enter the item q for quit")
        cart = []
        if item!='q':
            if item in shop.keys():
                cart.append(item)
            else:
                print(f'Sorry we dont have {item}')
        else:
            break
        payment = total(cart)+ tax_calc(total(cart))+discount_calc(total(cart))
    return payment

In [120]:
order()

Enter the item q for quitMilk

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [5]:
cm = int(input('Enter your height in cm: '))

inches = cm / 2.54
ft = inches // 12
inches = inches % 12

print('Your height is',int(ft),'feet and',inches,'inches.')

Enter your height in cm: 165
Your height is 5 feet and 4.960629921259837 inches.