In [1]:
a=3

In [2]:
print(a)

3

In [1]:
print("hello word")

hello word

In [2]:
print(5)

5

In [4]:
x=('hello word')
print(len(x))

10

In [ ]:
# hello word is pakistan 
# rplgd,sv,jdhghfkhjghkjf
# t


# # dmfksm 
# # # #  #pakistan

In [3]:
if 5 > 2:
 print('five is grearter then two')
 print('two is less than five')

five is grearter then two
two is less than five

In [6]:
for x in "banana":
 print(x)

b
a
n
a
n
a

In [7]:
for x in 'pakistan':
   print(x)

p
a
k
i
s
t
a
n

In [9]:
a ='pakistan'
print(a.upper())

PAKISTAN

In [10]:
a = 'PAKISTAN'
print(a.lower())

pakistan

In [15]:
a = 'PAKISTAN'
print(a.replace("PAKISTAN","afganatan" ))

afganatan

In [23]:
tex='peyton is the bast'
print(tex.capitalize())

TypeError: 'str' object is not callable

In [26]:
txt = "python is FUN!"

 print(txt.capitalize())

IndentationError: unexpected indent (4218257922.py, line 3)

In [30]:
tomanto=50;
onan=60;
potato=100;
sentencs="when i bay{}one kalo and {} one kg and also{} kg";
 print(sentencs.format(tomanto,onan,potato))

IndentationError: unexpected indent (1390128571.py, line 5)

In [33]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

TypeError: 'str' object is not callable