In [8]:
  for num in range(0,10):
    print(num + 1)

1
2
3
4
5
6
7
8
9
10

In [2]:
 x =20
    
while x >=1:
    print(x)
    x -=1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [11]:
for x in range(0,10,2):
    print(x+2)

2
4
6
8
10

In [15]:
for x in range (5):
  print(x,"Happy Birthday")

0 Happy Birthday
1 Happy Birthday
2 Happy Birthday
3 Happy Birthday
4 Happy Birthday

In [27]:
 x = int(input('Enter a number : '))
for x in range(1, x + 1):
        print(x)

Enter a number : 20
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [28]:
x = int(input('Enter a number : '))
for x in range(1 , x + 1, 2):
    print(x)

Enter a number : 30
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29

In [31]:
x = int(input("Enter a number : "))
for x in range(1,x+1):
    item = x **2
    print(item, end=" ")

Enter a number : 3
1 4 9

In [33]:
a = int(input("Enter a number :  "))
for i in range(1,16):
    z = a * i

    print(a , "x" , i ,"=" , z)

Enter a number :  19
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190
19 x 11 = 209
19 x 12 = 228
19 x 13 = 247
19 x 14 = 266
19 x 15 = 285

# 9.	Write a Python program to print the first 8 terms of an arithmetic     progression starting with 3 and having a common difference of 4. 
 #  The program should output the following sequence: 
 # 3 7 11 15 19 23 27 31

In [40]:
start = 3
difference = 4
for i in range(8):
    print(start)
    start += difference

3
7
11
15
19
23
27
31

# Write a Python program to print the first 6 terms of a geometric sequence starting with 2 and having a common ratio of 3. 
# The program should output the following sequence: 
# 2 6 18 54 162 486

In [44]:
start= 5
ratio = 15
for i in range(6):
    print(start)
    start *= ratio

5
75
1125
16875
253125
3796875

# 11.	Write a program that asks the user for a positive integer value. The program should calculate the sum of all the integers from 1 up to the number entered. For example, if the user enters 20, the loop will find the sum of 1, 2, 3, 4, ... 20.

In [62]:
n= int(input("Enter a positive no : "))
sum = 0
for i in range(1,n+1):
    sum += i
    print(sum)

Enter a positive no : 20
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210

In [76]:
N = int(input("Enter a positive integer: "))
sum_reciprocals = 0.0

for num in range(1, N + 1):
    sum_reciprocals += 1 / num

print("The sum of reciprocals from 1 to", N, "is:", "{:.2f}".format(sum_reciprocals))

Enter a positive integer: 10
The sum of reciprocals from 1 to 10 is: 2.93